@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-dark-mode: #fff;
  --light-dark-text: #213457;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
