:root {
  --light-dark-mode: #fff;
  --light-dark-text: #213457;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#app {
  /* font-family: InterRegular, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /* overflow-x: hidden; */
  position: relative;
  right: 0;
}
